<% layout("./layouts/boilerplate.ejs")%>

<body>
    <div class="welcome-container">
  
        <main class="main-content">
            <h2>Your Next Adventure Awaits</h2>
            <p>Discover amazing places to stay and create unforgettable memories.</p>
            <a href="/listings" class="redirect-button">Explore Listings</a>
        </main>

    </div>
</body>

